<% if !wish.name.blank? %>
  <% if !wish.anonymous.blank? && wish.anonymous == true %>
    <p class="one"> Anonymous wished on <%= wish.created_at.to_s(:long)
 %>: </p>
  <% else %>
    <p class="one"> <%= wish.name %>  wished on <%= wish.created_at.to_s(:long)
 %>: </p>
  <% end %>
<% else %>
    <p class="one"> Anonymous wished on <%= wish.created_at.to_s(:long) %>: </p>
<% end %>

<% if !wish.secret.blank? %>
  <% if !wish.secret.blank? && wish.secret == true %>
    <p class="hig"> Secret wish... just the well knows this wish. </p>
  <% else %>
    <p class="hig"><%= wish.your_wish %> </p>
  <% end %>
<% else %>
    <p class="hig"><%= wish.your_wish %> </p>
<% end %>

<p class="more1"> </p>